.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
// make embeds and iframes responsive by adding the .iframe-container class
// .iframe-container {
// 	overflow: hidden;
// 	padding-bottom: 56.25%;
// 	position: relative;
//   }
//   .iframe-container iframe,
//   .iframe-container object,
//   .iframe-container embed {
// 	border: 0;
// 	height: 100%;
// 	left: 0;
// 	position: absolute;
// 	top: 0;
// 	width: 100%;
//   }
  .iframe-container { 
	position: relative; 
	// padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.iframe-container iframe,
.iframe-container object,
.iframe-container embed { 
	// position: absolute;
	top: 0;
	left: 0;
	width: 90vw;
	height: 45vw;
}


/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
