.blog-card-holder ul{
    margin: 1rem 0 0 0;
    padding-left: 1rem;
    list-style-type: none;
    li {
        // list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0;
        padding-right: 7px;
    }
}
.blog-card-holder,
.archive-items .alm-reveal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,(minmax(320px, 1fr)));
    grid-gap: 1rem;
    min-height: 50vh;
    
    .blog-card {
        display: flex;
        flex-direction: column;
        border-left: 1px rgba(0, 0, 0, 0.3) solid;
        margin-bottom: 1rem;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .blog-card-image-wrapper {
            overflow: hidden;
        }
        
        .blog-card-bgr-pic {
            height: 320px;
            transition: transform .5s;
            filter: saturate(10%);
            
        &:hover {
            transform: scale(1.05);
            filter: saturate(110%);

        }

            .blog-card-shade {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transition: all .4s;
                background-color: rgba(0,0,0,.2);

                h3 {
                    margin-left: 10vw;
                    font-size: 1.8rem;
                    letter-spacing: 5px;
                    color: $secondary_color;
                }
            }
            .blog-card-shade:hover {
                background-color: unset;
            }
        }
        .post-cats {
            padding: .5rem 1rem 0 1rem;
        }
        h5, p {
            padding: .5rem 1rem 0 1rem;
        }
        a {
            text-transform: uppercase;
        }
        a,p {
            color: $btn_text_tertiary;
            font-weight: 300;
        }
        h5 {
            color: black;
            font-weight: 500;
        }
        a:hover {
            color: $btn_hover_tertiary;
        }

    }

    .blog-card:nth-child(1) {
        grid-column: 1/ 3;
    }
}
.archive-bg {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 50px;
}

.blog-card-holder .bog-card .h5 {
    padding-top: 2rem;
}


@media only screen and (max-width: 993px ) {
   
    .blog-card-holder {
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));

    }
    
}


@media only screen and (max-width: 768px ) {
   
    .blog-card-holder {
        grid-template-columns: repeat(1, minmax(280px, auto));
        
      
        .blog-card:nth-child(1) {
            grid-column: 1/ 2;
        }
    }
    
}



