.home #page {
    margin-bottom: 0;

    .front-page {
        #mobile_nav_wrap {
            position: absolute;
            top: 40px;
            left: 20px;
        }

        a {
            text-align: center;
            color: $secondary_color;
            
            .logo-holder {
                width: 45vw;
                max-width: 700px;
                margin: 0 auto;
                margin-bottom: 2.3rem;
            }

            h1 {
                display: inline-block;
                font-size: 20px;
                letter-spacing: 2.5px;
                animation: 'text-decoration' 500ms ease;
                //padding to stop the jump on hover
                padding-bottom: 3px;

                &:hover {
                    padding-bottom: 1px;
                    border-bottom: 1px solid shade($secondary_color, 35% );
                }
            }
            
            &:hover{
                color: shade($secondary_color, 30% );
            }
        }
    }
    @include respond-to(large, max) {
        .front-page {
            .logo-holder {
                width: 75vw;
            }
            a {

            }
        }
    }
    @include respond-to(medium, max) {
        .front-page {
            .logo-holder {
                width: 85vw;
                margin-bottom: 1.3rem;
            }
           a {
                h1 {
                font-size: 16px;
                }
            }
        }
    }
}