//set bg color to hide menu gap
body.page-template-page-philosophy   {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(20,20,20,1) 9%, rgba(171,171,171,1) 14%, rgba(251,254,255,1) 100%);
}
.philosophy {
    
    .header-block-content {
        color: $primary_color;
        background-color: $secondary_color;
    }
    .phil-container {

        .precepts-block {
            .img-box {
                height: 100vh;
                color: $secondary_color;
                .shade::before {
                    content: "";
                    position: absolute;
                    width: 100%;
         // * * * match padding with bg-ratio from php * */
                    padding: 75%;
                    background-color: rgba(0, 0, 0, 0.23);
                    
                }
            }
            .img-box.resized:nth-child(2n + 1) {
                background-attachment: fixed !important;
            }
            .text-box {
                position: relative;
                z-index: 20;
                text-align: left;
                padding-left: 10vw;
                padding-top: 40vh;
                padding-right: 34vw;
                //cubic-bezier(0,1,.3,1)
                h3,h6 {
                    opacity: .2;
                    padding-bottom: 10vh;
                    transform: translateY(-10vh);
                    transition: transform 4s .25s ease-in-out,
                    opacity 4s .25s ease-out,padding-bottom 1s .25s ease-out;
                    will-change: transform, opacity;
                }
                h6 {

                }
                h3.can-see, h6.can-see {
                    opacity: 1;
                    padding-bottom: 20px;
                }
               
                h6.can-see {
                    
                }
            }
            
        }
        .precepts-block:nth-child(2n + 0) .text-box {
            text-align: right;
            padding-right: 10vw;
            padding-left: 34vw;
        }

    }
    @include respond-to(1600, min) {
        .phil-container .precepts-block {
            
            .text-box {
                padding-top: 45vh;
                padding-right: 40vw;
                padding-left: 14vw;
                h3 {
                    font-size: 45px;
                }
            }
        }
        .phil-container .precepts-block:nth-child(2n + 0) .text-box {
            padding-left: 40vw;
            padding-right: 14vw;
        }
    }
    @include respond-to(xlarge, max) {

        .phil-container .precepts-block {
            
            .img-box.resized:nth-child(2n + 1) {
                background-attachment: scroll !important;
            }
            .text-box {
                padding-top: 14vh;
            }
        }
    }

    @include respond-to(large, max) {
      
        .header-block-content {
            padding: 8vh 7vw;
        }
        .phil-container .precepts-block {

            .text-box {
                padding-top: 12vh;
                padding-right: 24vw;
                h3 {
                    font-size: 30px;
                }
            }
        }
        .phil-container .precepts-block:nth-child(2n + 0) .text-box {
            padding-left: 24vw;
        }
    }
    @include respond-to(medium, max) {
        
        .phil-container .precepts-block {
            .img-box {
                height: 90vh !important;
                .shade::before {
                    height: 100%;
                    
                }
            }
            
            .text-box {
                padding-right: 7vw;
                padding-top: 15vh;
                padding-left: 5vw;
                h3 {
                    font-size: 24px;
                }
                h6{
                    font-size: 15px;
                    line-height: 1.4;
                }
            }
        }
        .phil-container .precepts-block:nth-child(2n + 0) .text-box {
            padding-left: 7vw;
            padding-right: 5vw;
        }
    }
    //hopefully catch and exclude iPads
        @media only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (-webkit-min-device-pixel-ratio: 1) {

                .img-box.resized:nth-child(2n + 1) {
                    background-attachment: scroll !important;
                }

            }

}