#collections_page {

    .collections {
        padding: 50px 0;

        .collection-header {
            text-align: center;
        }

        .collection-slider-wrapper {
            padding: 50px 0;
        }
    }
}